.symbol {
	margin-top: 20px;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
}

.name {
	font-size: 0.5em;
	text-align: center;
}

.element {
	height: 80px;

	border-style: solid;
	border-color: black;
	border-width: 2px;
}

.Solid {
	background-color: rgb(224, 176, 30);
}

.Liquid {
	background-color: rgb(13, 46, 108);
}

.Gas {
	background-color: rgb(143, 146, 166);
}
